@model InfrastructureBaselineSolution.ViewModels.Scrunchie

@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>details</h2>

<fieldset>
    <legend>Scrunchie</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Stamp</div>
    <div class="display-field">@String.Format("{0:g}", Model.Stamp)</div>

    <div class="display-label">Price</div>
    <div class="display-field">@String.Format("{0:F}", Model.Price)</div>

    <div class="display-label">Cost</div>
    <div class="display-field">@String.Format("{0:F}", Model.Cost)</div>

    <div class="display-label">Sold</div>
    <div class="display-field">@Model.Sold</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

