@model IEnumerable<InfrastructureBaselineSolution.ViewModels.Scrunchie>

@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Stamp
        </th>
        <th>
            Price
        </th>
        <th>
            Cost
        </th>
        <th>
            Sold
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @String.Format("{0:g}", item.Stamp)
        </td>
        <td>
            @String.Format("{0:F}", item.Price)
        </td>
        <td>
            @String.Format("{0:F}", item.Cost)
        </td>
        <td>
            @item.Sold
        </td>
    </tr>
}

</table>

